@model List<jjodel_persistence.Models.Entity.Project>

<table id="project-list" class="table table-bordered table-responsive table-hover" style="width:100%">
    <caption>All Projects</caption>
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Type</th>
            <th>State</th>
            <th>Creation</th>
            <th>LastModified</th>
            <th>Author</th>
            <th>Number of Collaborator</th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var project in Model)
        {
            <tr>


                <td>@project.Name</td>
                <td>@project.Description</td>
                <td>@project.Type</td>
                @if(!string.IsNullOrEmpty(project.State)) {
                    <td> project.State}

                    </td>
                }
                else{
                    <td>-</td>
                }
                <td>@project.Creation</td>
                <td>@project.LastModified</td>
                <td>@project.Author.UserName</td>
                <td>@project.Collaborators?.Count</td>



                <td>
                    <div class="d-grid gap-2 d-flex justify-content-center">
                        <button class="btn btn-primary editUserBtn" onclick="EditProject('@project.Id')" title="Edit Project">
                            <i class="bi bi-pencil-square"></i>
                        </button>
                        <button class="btn btn-danger deleteUserBtn" onclick="DeleteProjectConfirm('@project.Id')" title="Delete Project">
                            <i class="bi bi-trash"></i>
                        </button>
                    </div>
                </td>
            </tr>
        }
    </tbody>

    <tfoot>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Type</th>
            <th>State</th>
            <th>Creation</th>
            <th>LastModified</th>
            <th>AuthorId</th>
            <th>Number of Collaborator</th>
            <th>Options</th>

        </tr>
    </tfoot>
</table>

